:root {
    /* Suas variáveis aqui */
}

body {
    /* Seus estilos aqui */
}

* {
    /* Seus estilos aqui */
}

@media (max-width: 768px) {
    /* Estilos para telas menores */

    .container {
        grid-template-columns: 100%;
        /* Altera para uma coluna */
        margin: 0 1em;
        /* Adiciona margem lateral menor */
    }

    .container__caixa {
        margin: 0 2em;
        /* Reduz margem lateral */
    }

    .container__titulo {
        font-size: 20px;
        /* Reduz tamanho de fonte */
    }

    .container__imagem {
        margin: 0.5em 0 1em 0;
        /* Ajusta margens */
    }

    .secundario {
        margin: 0 1em;
        /* Reduz margem lateral */
    }

    .descricao__titulo {
        font-size: 36px;
        /* Reduz tamanho de fonte */
    }

    .descricao__texto {
        font-size: 14px;
        /* Reduz tamanho de fonte */
    }

    .dispositivos__lista {
        margin: 3em 0;
        /* Ajusta margens */
    }

    .dispositivos__titulo {
        font-size: 36px;
        /* Reduz tamanho de fonte */
    }

    .lista__item {
        font-size: 24px;
        /* Reduz tamanho de fonte */
    }

    .rodape {
        margin: 3em 1em;
        /* Ajusta margens */
    }

    .rodape__texto {
        font-size: 12px;
        /* Reduz tamanho de fonte */
    }
}